<h4>Category List</h4>

<a class="btn teal" href="/category/add">ADD CATEGORY</a>

<table class="striped">
  <thead>
    <tr>
      <th>Category name</th>
      <th>Category Description</th>
      <th>Menu</th>
    </tr>
  </thead>
  <tbody>
    {{#each categoryList }}
    <tr>
      <td>
        <a href="/category/detail/{{ _id }}">{{ name }}</a>
      </td>
      <td>{{ description }}</td>
      <td>
        <a class="btn orange" href="/category/edit/{{ _id }}">EDIT</a>
        <a class="btn red darken-1" href="/category/delete/{{ _id }}" 
          onclick="return confirm('Do you want to delete this category ?');">DELETE</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>