<h4 class="center-align bold">Add new product</h4>

<form action="/product/add" method="post">
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <label for="name">Product name</label>
      <input class="validate" type="text" name="name" value="{{ product.name }}">
      {{#if InputErrors.name}}
      <div class="error" style="color: red;">{{ InputErrors.name }}</div>
      {{/if}}
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <label for="price">Product price</label>
      <input class="validate" type="number" name="price" value="{{ product.price }}">
      {{#if InputErrors.price}}
      <div class="error" style="color: red;">{{ InputErrors.price }}</div>
      {{/if}}
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <label for="image">Product image URL</label>
      <input class="validate" type="text" name="image" value="{{ product.image }}">
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <select name="category">
        <option value="" disabled selected>Choose category</option>
        {{#each categoryList}}
        <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
      </select>
      <label>Category</label>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m4 offset-m4 center-align">
      <button class="btn teal" type="submit">ADD</button>
    </div>
  </div>
</form>